
#containerHeader{
    height: 100px;
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;

    background-color: darkblue;
    color: white;

}
.linkPage{
    margin: auto;
}
.linkPage a{
     color: white;
}
.linkPage a:link{
    text-decoration: none;
}
.imageRound{
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

body
{
    /*background-image: url("images/back.jpg");*/
    background-color: black;
}
.entier {
    text-align: center;
    /*background-color: black;
    opacity: 0.9;*/

}
.aktuelProjekt{
    display: flex;
    flex-direction: row;
    border-radius: 7px;

}
.centerInhalt{
    margin: auto;
}
.color_contact{
    margin: 100px;
    padding: 10px;
   background-color: whitesmoke;
    border-radius: 10px;

}
/* for about.html */
.color_about{
    margin: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.cvStyle{
}
/* for about.html */

section{
    margin: 25px;
}

.element_C4:nth-child(1)
{
    width: 1100px;
    height: 250px;
    border:3px grey solid;
    border-radius: 10px;
    overflow: auto;
    margin-left: 8px;
    margin-right: 10px;
}
.element_C4:nth-child(2)
{
    width: 1100px;
    height: 250px;
    border:3px grey solid;
    border-radius: 10px;
    overflow: auto;
}
.element_C4:nth-child(3)
{
    width: 1100px;
    height: 250px;
    border:3px grey solid;
    border-radius: 10px;
    overflow: auto;
    margin-left: 10px;
    margin-right: 8px;
}
footer
{

    margin: 25px;
    text-align: center;
}


.element_C5:nth-child(1)
{
    margin-left: 10px;
    margin-right:  10px;
}
.element_C5:nth-child(2)
{
    margin-left: 10px;
    margin-right:  10px;
}
.element_C5:nth-child(3)
{
    margin-left: 10px;
    margin-right:  10px;
}
.element_C5:nth-child(5)
{
    margin-left: 10px;
    margin-right:  10px;
}


#toggleProject{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 7px;
    margin: auto;
}
.elementT{
    overflow: auto;
    color: blue;
    margin-bottom: 10px;
}
.toggleBtn{
    background-color: black;
    color: white;
}

.afterToggle{
    color: red;
}

@media only screen and (max-width: 768px) {
    .entier{
        width: 100%;
    }
}
